  $color : rgb(136, 133, 139);
  .head{
    line-height:2.2rem;
    text-align: center;
    background: $color;
    .tab-a{
      padding: .2rem .45rem;
      font-size: .7rem;
      color: #ffffff;
      border-radius: .2rem;
    }
    .active{
      color: $color;
      background: #ffffff;
    }
    .cssimg{
        height: 2rem;
        width: 4.35rem;
        background: url(../img/web.jpg) no-repeat center center;
        background-size: 4.35rem 2rem;
    }
  }
  .gg{
    font-size: 1rem;
  }