$color: yellow;
.h-right{
    color: $color;
}
.bg{
    height: 100px;
    width: 80px;
    background: url(../img/bg.jpg) no-repeat center center;
    background-size:80px 100px;
}
.bg1{
    height: 100px;
    width: 80px;
    background: url(../img/web.jpg) no-repeat center center;
    background-size:80px 100px;
}
.h-right{
    transform: translate(0,-50px)
}
.fdgsf{
    box-shadow: dodgerblue;
    color: rebeccapurple;
}